body, button, input, select, textarea {
    font-family: "Times New Roman", Tahoma, SimSun, Arial;
    font-size: 14px;
    color: #333333;
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Times New Roman", Tahoma, SimSun, Arial;
}

body {
    min-width: 1150px;
}

.dialog-content {
    position: absolute;
    z-index: 99999;
    display: block;
    margin: 0 auto;
    left: 0; top: 0;
    background-color: #ffffff;
    border: 7px solid #dddddd;
}

.dialog-content .dialog-subject {
    margin: 10px;
    height: 30px;
    line-height: 30px;
}

.dialog-content .dialog-subject .title {
    height: 30px;
    line-height: 30px;
    color: #737373;
    font-size: 14px;
    font-weight: 600;
    float: left;
    widht: 100px;
}

.dialog-content .dialog-subject .close {
    height: 30px;
    line-height: 30px;
    color: #737373;
    font-size: 14px;
    font-weight: 400;
    float: right;
    widht: 30px;
    text-decoration: none;
}

.dialog-content .dialog-subject .close>a, 
.dialog-content .dialog-subject .close>a:visited
.dialog-content .dialog-subject .close>a:link, 
.dialog-content .dialog-subject .close>a:hover {
    color: #737373;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}

.dialog-content .dialog-message {
    line-height: 30px;
    margin: 10px;
    font-weight: 600;
    color: #737373;
    font-size: 14px;
    overflow: auto;
    text-align: center;
}

.dialog-content .dialog-buttons {
    height: 30px;
    line-height: 30px;
    margin: 10px;
    text-align: center;
}

.dialog-content .dialog-buttons>a {
    padding: 0 15px;
    text-decoration: none;
}

.dialog-content .dialog-buttons .dialog-button1, 
.dialog-content .dialog-buttons .dialog-button2 {
    margin: 0 10px;
    background: -webkit-linear-gradient(top, #f3b500, #e87f14);
    background: #f3b500;
    background: -moz-linear-gradient(top, #f3b500, #e87f14);
    cursor: pointer;
    cursor: hand;
    display: inline-block;
    color: #ffffff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .15);
    border-radius: 4px;
}

.dialog-content .dialog-buttons .dialog-button1 a:hover, 
.dialog-content .dialog-buttons .dialog-button2 a:hover {
    text-decoration: none;
    background: #f2b215;
    background: -moz-linear-gradient(top, #f2c822, #f29706);
}

body.navbar-fixed {padding-top: 50px;}

.container {
    max-width: none !important;
    width: 100%;
    min-width: 970px;
}

.navbar {
    background-color: #0777ee;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    display: block;
    border-color: #0777ee;
}

.navbar-collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    padding-right: 0;
    overflow: visible !important;
}

.navbar > .container .navbar-brand {
    margin-right: 15px;
    padding: 0;
    margin-left: -5px;
}

.navbar-inverse {
    background-color: #0777ee;
}

.navbar-inverse .navbar-text {
    color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    background-color: #d80069;
    color: #ffffff;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #d80069;
    color: #ffffff;
}

.container-main {
    padding-bottom: 50px;
    overflow: hidden;
    padding-top: 15px;
}

.container-menu {
    color: #ffffff;
    padding-right: 0;
    padding-left: 0;
}

.container-menu:before {
    top: 0;left: 0;bottom: 0;right: auto;
    position: fixed;
    z-index: -1;
    height: 100%;
    min-width: 200px;
    width: 16.666666666666664%;
    background-color: #444444;
    content: " ";
}

.menu a:link, .menu a:visited {
    color: #999999;
    text-decoration: none;
}

.menu a:hover, .menu a:active {
    color: #ffffff;
    text-decoration: none;
}

.menu ul, .menu li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu .nav a {
    border-left: 3px solid transparent;
    line-height: 34px;
    display: block;
    overflow: hidden;
    height: 34px;
    padding: 0 15px 0 12px;
}

.menu .nav a:hover, .menu .nav a:focus, .menu .nav .active > a {
    background-color: #333333;
    border-left-color: #0777ee;
}

.menu .nav .active > a:link, .menu .nav .active > a:visited, 
.menu .nav .active > a:hover, .menu .nav .active > a:active {
    color: #ffffff;
}

.menu .nav .open > a, .menu .nav .open > a:hover, 
.menu .nav .open > a:focus {
    background-color: none;
    border-left-color: transparent;
}

.tabs-wrap {
    border-bottom: 1px solid #c5d0dc;
    margin: 0;
    margin-bottom: 5px;
}

.tabs-wrap [class^="col-"], .tabs-wrap [class*=" col-"] {
    padding: 0;
}

.nav-tabs {
    border-bottom-color: #C5D0DC;
    margin-bottom: -1px;
}

.nav-tabs>li>a {
    position: relative;
    z-index: 11;
    margin-right: -1px;
    padding: 8px 12px;
    background-color: #f5f5f5;
    border-color: #c5d0dc;
    color: #999999;
    line-height: 16px;
    border-radius: 0;
}
.nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
    background-color: #ffffff;
    color: #428bca;
    border-color: #c5d0dc;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {
    z-index: 12;
    margin-top: -1px;
    background-color: #ffffff;
    border-top: 2px solid #0066FF;
    border-bottom-color: transparent;
    color: #333333;
    box-shadow: 0 -2px 3px 0 rgba(0,0,0,0.15);
}

.panel {
    margin-bottom: 15px;
    border-radius: 0;
}

.table-bordered>thead>tr>th, 
.table-bordered>thead>tr>td {
    border-bottom-width: 1px;
}

.panel-body {
    padding-top:25px;
}

.table-bordered>thead>tr>th, 
.table-bordered>thead>tr>td {
    border-bottom-width: 1px;
}

.control-label .help-block {
    font-weight: 400;
}
